body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #81a77a;
}

.quem-somos {
  background-color: #1170cf;
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: rgb(165, 204, 255);
}

.bg-footer {
  background-color: black;
  color: white;
}
